<h2>Gallery</h2>
<hr />
<section class="image-collection">
  <h2>Handgun (no textures) - Blender</h2>
  <section class="image-section">
    <section class="image-and-desc">
      <img src="assets/images/art/gun1.png" height="400px" />
    </section>
    <section class="image-and-desc">
      <img src="assets/images/art/gun2.png" height="400px" />
    </section>
  </section>
  <section class="image-section">
    <section class="image-and-desc">
      <img src="assets/images/art/gun3.png" height="400px" />
    </section>
    <section class="image-and-desc">
      <img src="assets/images/art/gun4.png" height="400px" />
    </section>
  </section>
</section>

<section class="image-collection">
  <h2>Knife And Sheath - Blender</h2>
  <section class="image-section">
    <section class="image-and-desc">
      <img src="assets/images/art/4.jpg" height="400px" />
    </section>
    <section class="image-and-desc">
      <img src="assets/images/art/5.jpg" height="400px" />
    </section>
  </section>
</section>

<section class="image-collection">
  <h2>Shield - Blender</h2>
  <section class="image-section">
    <section class="image-and-desc">
      <img src="assets/images/art/shield1.jpg" height="400px" />
    </section>
    <section class="image-and-desc">
      <img src="assets/images/art/shield2.jpg" height="400px" />
    </section>
  </section>
</section>

<section class="image-collection">
  <h2>Concept Weapons - Blender</h2>
  <section class="image-section">
    <section class="image-and-desc">
      <img src="assets/images/art/cataphract-5.jpg" height="400px" />
    </section>
    <section class="image-and-desc">
      <img src="assets/images/art/ramessesII-1.jpg" height="400px" />
    </section>
  </section>
</section>
