<h2>MODELLING</h2>
<nav class="sub-nav">
  <a routerLink="/art/models/modellinggallery" routerLinkActive="active">GALLERY</a>
  <a routerLink="/art/models/modellinggallery" routerLinkActive="active">HANDGUN</a>
  <a routerLink="/art/models/modellinggallery" routerLinkActive="active">KNIFE</a>
  <a routerLink="/art/models/modellinggallery" routerLinkActive="active">SHIELD</a>
  <a routerLink="/art/models/modellinggallery" routerLinkActive="active">CONCEPTS</a>
</nav>

<router-outlet></router-outlet>
